#home-wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        color: $darkBlue;
        font-size: 40px;
    }

    #logo {
        margin-top: -30px;
        margin-bottom: -30px;
        width: 25vw;
        height: 50vh;
    }
}