#thread-wrapper > #thread {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 92vw;
    margin-top: 35px;
    border: 4px solid $darkBlue;

    img {
        width: 15vmax;
        border: 2px solid $lightBlue;
    }

    #text {
        margin-left: 10px;

        #title {
            display: flex;
            flex-direction: row;
            border-bottom: 2px solid $lightBlue;
            flex-wrap: wrap;

            #number {
                cursor: pointer;

                &:hover {
                    color: $darkBlue;
                }
            }
            
            h2 {
                margin-right: 10px;
            }
        }

        h3, p {
            font-size: 20px;
        }

        & > * {
            margin-bottom: 5px;
        }
    }

    span {
        color: $lightBlue;
    }
}