@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

$fullWhite: #FFFFFF;
$lightBlue: #2A3670;
$darkBlue: #27336D;
$grey: #F2F2F2;

@import './components/home/main';
@import './components/board-list/main';
@import './components/board/main';
@import './components/board-layout/main';
@import './components/header/main';
@import './components/footer/main';
@import './components/thread-card/main';